    

    .topright 
    {
        font-size:13px;
        font-family:Arial, Helvetica, sans-serif;
        padding: 0 14px;
         position: absolute;
         right: 16px;
        font-size: 13px;
        margin-right:0px; 
    margin-top:15px;
    margin-bottom:12px;
    }
    .images
    {
        color:black;
        text-decoration: none;
        margin-right: 57px;
    

    }
    .gmail
    {
        color:black;
        text-decoration: none;
        margin-right:11px;
    }   
    .para
    {
        position: absolute;
        left:126px;
        top:7px;
        text-decoration: none;
        margin-right:18px;
    }
    .google
    {
        padding-top:182px;
    }
    .button1
    {  
    
        font-weight: bold;
        font-size: 13px;
        border-radius: 2px;
        position: relative;
        top:1px;
        right: 0px;
      
        text-indent: 1px;
        
        width: 69px;
        text-decoration: none;
       
        height: 30px;
        background-color:rgb(84, 134, 243); 
        border: rgb(84, 134, 243); 
        color:white; 
    }
    body
    {
    font-family: arial,sans-serif;
    font-size: small;
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    margin: 0;

    }
    .searchbutton1
    {
        height: 36px;
        line-height: 27px;
        width: 130px;
        background-color:#f2f2f2;
        border-radius: 2px;
        color: #757575;
        font-family: arial,sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 11px 4px;
        min-width: 54px;
        padding: 0 16px;
        text-align: center;
        border: 1px solid #f2f2f2;

        }
    .searchbutton
    {
        height: 36px;
        line-height: 27px;
        width: 150px;
        background-color:#f2f2f2;
        border-radius: 2px;
        color: #757575;
        font-family: arial,sans-serif;
        font-size: 13px;
        font-weight: bold;
        margin: 11px 4px;
        min-width: 54px;
        padding: 0 16px;
        text-align: center;
        border: 1px solid #f2f2f2;

        }
    .searchbutton:hover
    {
     border: 1px;
     background-color: rgb(228, 217, 217);
     border-style: solid;
     border-color:grey;
     color:black;
    }
    .searchout
    {
        border-color: #e6e4e4;
        border-style: none;
        padding-left:10px;
        background-color:transparent;
        border-radius: 2px;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
        align-self: center;
        height: 44px;
        width: 550px;
        border-inline-start-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px; 
        box-shadow: 2px 2px 2px 2px #C6E2E3;
    }
    .searchout:hover{
       
        border-color: white;

    }

    .searchout:focus
    {
        outline: none;
        border-color: white;
    }
    .voice1
    {
        position: relative ;
      z-index: 5;
      left:-3%;
      height:"30px";
      width:"25px";
      top:10px;
      bottom:-20%;
        padding: 0px 8px;
        align-items:center;
        padding-top:0px; padding-left: 5px;
        margin-top:5px;
        line-height: 44px;
        cursor:pointer;
    }
    .india
    {
    
        position: relative;
        bottom:16px;
        left:0px;
        background-color: #f2f2f2;
        font-family: arial,sans-serif;
        color: #757575;
        font-size: 15px;
        line-height: 40px;
        padding-left: 0px;
        margin-left: 0px;
        padding: 31px;
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
 
    border-left: #f2f2f2;
    border-right: #f2f2f2;
    border-bottom: #f2f2f2;
        border-top-color:#e6e4e4;
        text-decoration: none;
        border-style: solid;
        border-width: 1px;     
    }
    .india1
    {
        position: relative;
        bottom:16px;
        left:0px;
        background-color: #f2f2f2;
        font-family: arial,sans-serif;
        color: #757575;
        font-size: 15px;
        line-height: 40px;
        padding-left: 0px;
        margin-left: 0px;
        padding:18px;
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
 
    border-left: #f2f2f2;
    border-right: #f2f2f2;
    border-bottom: #f2f2f2;
        border-top-color:#e6e4e4;
        text-decoration: none;
        border-style: solid;
        border-width: 1px;
       
      
        
       
        
       
      


    }
    .last
    {
        bottom: 8px;
    
        left:25px;
        background-color: #f2f2f2;
        font-family: arial,sans-serif;
        color: #757575;
        font-size: small;
        line-height: 40px;
        padding-left: 13px;
        margin-left: 0px;
        padding: 13px;
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
        padding-left: 11px;
       
        text-decoration: none;
    }
    .last1
    {
        bottom: 8px;
    
        left:25px;
        background-color: #f2f2f2;
        font-family: arial,sans-serif;
        color: #757575;
        font-size: small;
        line-height: 10px;
        padding-left:3px;
        margin-left: 0px;
        
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
        padding-left: 11px;
       
        text-decoration: none;
       
    }
    .last2
    {
        bottom: 8px;
    
        left:25px;
        background-color: #f2f2f2;
        font-family: arial,sans-serif;
        color: #757575;
        font-size: small;
        line-height: 10px;
      
        margin-left: 0px;
        padding: 13px;
        padding-top:0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top:0px;
        padding-left: 6px;
       
        text-decoration: none;
       
    }
    
.bottomright
{
    border-top-color: #757575;
    border-top-style: inset;
        border:1px;
    position: absolute;
    bottom: 14px;
    right: 150px;
    background-color: #f2f2f2;
    font-family: arial,sans-serif;
    color: #757575;
    font-size: small;
    line-height: 12px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right:18px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
    padding-left: 0px;
   

    text-decoration: none;
    
}
.bottomright1
{
    border-top-color: #757575;
    border-top-style: inset;
    border:1px;
    position: absolute;
    bottom: 14px;
    right:80px;
    padding-right:20px;
    background-color: #f2f2f2;
    font-family: arial,sans-serif;
    color: #757575;
    font-size: small;
    line-height: 12px;
    padding-left: 0px;
    margin-left: 0px;
   
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
    padding-left: 0px;
   border-top-color: #757575;
   border-top-width: 1px;
    text-decoration: none;
    border:1px; 
}
.bottomright2
{
    position: absolute;
    bottom:14px;
    right:25px;
    font-family: arial,sans-serif;
    color: #757575;
    background-color:whitesmoke;

    font-size: small;
    line-height: 13px;
    padding-left: 0px;
    margin-left: 0px;
    border-top-color: #757575;
    border-top-style: inset;
        border:1px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top:0px;
    padding-left: 0px;
  
    text-decoration: none;
    
}
.down
{
    position: absolute;
    bottom:0px;
    margin-bottom:-15px;
    width: 100%;
    
}

.lang
{
    padding-right: 8px;
    text-decoration: none;

}